@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --cor1: #4B87F9;
    --cor2: #2541AE;
    --cor3: #74B8FF;
    --cor4: #4F67C1;
    --cor5: #3C3E67;
    --cor6: #fff;
    --cor7: #2c5fbd;
    --cor8: #5892ff;
    --cor9: #4da3ff;
}

body, html{
    background-color: var(--cor4);
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;   
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: var(--cor3);
    width: 300px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--cor2);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    background: var(--cor2) url(../imagem/img-login.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo{
    background-color: var(--cor5);
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    margin: 5px 0px;
    border: 3px solid var(--cor5);
}

div.campo > label{
    display: none;
}

div.campo > span{
    color: var(--cor6);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: var(--cor9);
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 4px;
    color: var(--cor2);
    transform: translateY(-10px);
}

div.campo > input::placeholder{
    color: var(--cor2);
}

div.campo > input:focus{
    background-color: var(--cor3);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor2);
    color: var(--cor6);
    border: none;
    border-radius: 10px;
}

form > input[type=submit]:hover{
    background-color: var(--cor7);
    cursor: pointer;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 7px;
    padding-top: 5px;
    background-color: var(--cor1);
    color: var(--cor2);
    border: none;
    border-radius: 10px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: var(--cor8);
    cursor: pointer;
}